
*.vsidx
AntesBE/obj/Debug/net8.0/AntesBE.AssemblyInfoInputs.cache
AntesBE/.vs/AntesBE/DesignTimeBuild/.dtbcache.v2
*.dll
*.cache
AntesBE/obj/Debug/net7.0/AntesBE.AssemblyInfo.cs
*.cache
*.editorconfig
*.pdb
AntesBE/obj/project.assets.json
AntesBE/bin/Debug/net7.0/AntesBE.exe
AntesBE/bin/Debug/net7.0/AntesBE.dll
AntesBE/bin/Debug/net7.0/AntesBE.exe
AntesBE/bin/Debug/net7.0/AntesBE.dll
AntesBE/bin/Debug/net7.0/AntesBE.exe
AntesBE/bin/Debug/net7.0/AntesBE.dll
AntesBE/obj/Release/net7.0/AntesBE.GlobalUsings.g.cs
AntesBE/obj/Release/net7.0/AntesBE.AssemblyInfo.cs
AntesBE/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
AntesBE/obj/project.nuget.cache
AntesBE/obj/project.assets.json
AntesBE/obj/Debug/net7.0/refint/AntesBE.dll
AntesBE/obj/Debug/net7.0/ref/AntesBE.dll
AntesBE/obj/Debug/net7.0/apphost.exe
AntesBE/obj/Debug/net7.0/AntesBE.pdb
AntesBE/obj/Debug/net7.0/AntesBE.MvcApplicationPartsAssemblyInfo.cs
AntesBE/obj/Debug/net7.0/AntesBE.genruntimeconfig.cache
AntesBE/obj/Debug/net7.0/AntesBE.GeneratedMSBuildEditorConfig.editorconfig
AntesBE/obj/Debug/net7.0/AntesBE.dll
AntesBE/obj/Debug/net7.0/AntesBE.csproj.FileListAbsolute.txt
AntesBE/obj/Debug/net7.0/AntesBE.csproj.CoreCompileInputs.cache
AntesBE/obj/Debug/net7.0/AntesBE.assets.cache
AntesBE/obj/Debug/net7.0/AntesBE.AssemblyInfoInputs.cache
AntesBE/obj/Debug/net7.0/AntesBE.AssemblyInfo.cs
AntesBE/obj/AntesBE.csproj.nuget.g.props
AntesBE/obj/AntesBE.csproj.nuget.dgspec.json
AntesBE/bin/Debug/net7.0/AntesBE.pdb
AntesBE/bin/Debug/net7.0/AntesBE.exe
AntesBE/bin/Debug/net7.0/AntesBE.dll
AntesBE/.vs/slnx.sqlite
AntesBE/.vs/AntesBE/v17/.wsuo
AntesBE/obj/project.assets.json
*.cache
*.dll
*.exe
*.pdb
AntesFE/src/consts.ts
