/* Sidebar */
.header {
    width: 12rem; /* Adjust the width as needed */
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: auto; /* Allow vertical scrolling if needed */
    padding-top: 0px;
    transition: 0.5s;
    border-right: 20px solid rgb(181, 15, 34); /* Add a border on the right side */
}

/* Sidebar Box */
.sidebarbox {
    height: fit-content;
    background-color: white;
    color: rgb(181, 15, 34);
    border-bottom: 1px solid rgb(181, 15, 34);
}

/* Sidebar Box Hover Effect */
.sidebarbox:hover {
    background-color: rgba(181, 15, 34, 0.4);
}

/* Sidebar Links */
.header a {
    padding: 1rem 0px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* Sidebar Links Hover Effect */
.header a:hover {
    /* Adjust link hover styles as needed */
    color:  rgb(181, 15, 34)/* Your hover color here */;
}

/* Close Button */
.header .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    /* Add any additional styles for the close button */
}
