/* Sidebar */
.header {
    width: 12rem; /* Adjust the width as needed */
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: auto; /* Allow vertical scrolling if needed */
    padding-top: 0px;
    transition: 0.5s;
    border-right: 5px solid rgb(181, 15, 34); /* Add a border on the right side */
}

/* Sidebar Box */
.sidebarbox {
    height: fit-content;
    background-color: white;
    color: rgb(247, 237, 239);
    border-bottom: 1px solid rgb(181, 15, 34); /* iets fixen voor top en bottom zodat t gelijk is */
    border-top: 1px solid rgb(181, 15, 34);
    padding-left: 1em;
}

/* Sidebar Box Hover Effect */
.sidebarbox:hover {
    background-color: rgba(181,15,34,0.2);
}

/* Sidebar Links */
.header a {
    padding: 1rem 0px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* Sidebar Links Hover Effect */
.header a:hover {
    /* Adjust link hover styles as needed */
    color: rgb(181, 15, 34); /* Your hover color here */
}

/* Content Area */
#detail {
    margin-left: 12rem; /* Same as the width of the sidebar */
    padding: 1rem;
    position: relative; /* Ensure relative positioning */
    z-index: 2; /* Set a higher z-index to display the content above the sidebar */
}
